<%= form_for(@education) do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--[form:education]-->
  <p><label for="education_from"><%= I18n.t('Date from') %></label><br/>
  <%= date_select 'education', 'date_from', :start_year => 1971 %></p>

  <p><label for="education_to"><%= I18n.t('Date to') %></label><br/>
  <%= date_select 'education', 'date_to', :start_year => 1971  %></p>

  <p><label for="education_title"><%= I18n.t('Title') %></label><br/>
  <%= text_field 'education', 'title', size: '50'  %></p>

  <p><label for="education_skills"><%= I18n.t('Skills') %></label><br/>
  <%= text_area 'education', 'skills', size: "60x20"  %></p>

  <p><label for="education_organisation"><%= I18n.t('Organisation') %></label><br/>
  <%= text_field 'education', 'organisation', size: '50'  %></p>

  <p><label for="education_klang"><%= I18n.t('Klang') %></label><br/>
    <%= @education.language.isoname %>
    <%= hidden_field :education, :klang %>
  </p>

  <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
