<%= form_for(@miscstuff) do |f| %>
  <% if @miscstuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@miscstuff.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @miscstuff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--[form:miscstuff]-->
<p><label for="miscstuff_misc"><%= I18n.t('Misc') %></label><br/>
<%= text_area 'miscstuff', 'misc', size:"60x20"  %></p>

<!--<p><label for="miscstuff_mstype">Type</label><br/>
<%= text_field 'miscstuff', 'mstype'  %></p>-->
<p>
  <%= f.radio_button(:mstype, "miscellaneous") %>
  <%= f.label(:mstype_generic, I18n.t("Miscellaneous")) %>
  <%= f.radio_button(:mstype, "drivinglicense") %>
  <%= f.label(:mstype_driving, I18n.t("Driving license")) %>
</p>

<p><label for="miscstuff_klang">Locale</label><br/>
  <%= @miscstuff.language.isoname %>
  <%= hidden_field :miscstuff, :klang %>
</p>


<div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>