<%= form_for(@miscstuff) do |f| %>
  <% if @miscstuff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@miscstuff.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @miscstuff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--[form:miscstuff]-->
<p><label for="miscstuff_misc">Misc</label><br/>
<%= text_area 'miscstuff', 'misc'  %></p>

<p><label for="miscstuff_mstype">Type</label><br/>
<%= text_field 'miscstuff', 'mstype'  %></p>


<div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>