<%= form_for(@computerskill) do |f| %>
  <% if @computerskill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@computerskill.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @computerskill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--[form:computerskill]-->
  <p><label for="computerskill_name">Name</label><br/>
  <%= text_field 'computerskill', 'name'  %></p>

  <p><label for="computerskill_level">Level</label><br/>
  <%= text_field 'computerskill', 'level'  %></p>

  <p><label for="computerskill_experience">Experience</label><br/>
  <%= text_field 'computerskill', 'experience'  %></p>

  <p><label for="computerskill_cstype">Type</label><br/>
  <%= text_field 'computerskill', 'cstype'  %></p>

  <p><label for="computerskill_weight">Weight</label><br/>
  <%= text_field 'computerskill', 'weight'  %></p>

  <p><label for="computerskill_klang">Locale</label><br/>
    <%= @computerskill.language.isoname %>
    <%= hidden_field :computerskill, :klang %>
  </p>

  <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
