<p id="notice"><%= notice %></p>

<h1>Listing Luzs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @luzs.each do |luz| %>
      <tr>
        <td><%= link_to 'Show', luz %></td>
        <td><%= link_to 'Edit', edit_luz_path(luz) %></td>
        <td><%= link_to 'Destroy', luz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Luz', new_luz_path %>
