<h3><%= I18n.t('Manage Curriculum') %></h3>


<%= form_tag('/load_title') do -%>
  <p><label for="file_loaded_title"><%= I18n.t('Title') %></label><br/>
  <%= select('file_loaded', 'id', @files_available.collect{|x| [ x.curr_title, x.id ] }  )%>

  <div><%= submit_tag t('Load'), class: 'btn btn-primary'  %></div>
<% end -%>


