<%= form_for(@otherskill) do |f| %>
  <% if @otherskill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@otherskill.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @otherskill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--[form:otherskill]-->
<p><label for="otherskill_skill"><%= I18n.t('Skill') %></label><br/>
<div class="threelines">
  <%= text_area 'otherskill', 'skill'  %>
</div></p>

<!--<p><label for="otherskill_skill">Type</label><br/>
<%= text_field 'otherskill', 'sktype'  %></p>-->

<p><label for="otherskill_weight"><%= I18n.t('Weight') %></label><br/>
<%= text_field 'otherskill', 'weight'  %></p>


<div class="actions">
   <%= f.submit class: 'btn btn-primary' %>
</div>

<% end %>

