<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Curriculum', curriculum_path %></li>
  <li><%= link_to 'Options', options_path %></li>
  <li><%= link_to 'Applications', destcurrs_path %></li>
<% end %>
