<% if user_signed_in? %>
  <li><%= link_to 'Curriculum', curriculum_path %></li>
  <li><%= link_to 'Options', options_path %></li>
  <li><%= link_to 'Applications', destcurrs_path %></li>
  <li><%= link_to(destroy_user_session_path, method: 'delete' ) do %>
    <span><%= "#{user_name_text} #{'Logout'}" %></span>
    <% end %>
  </li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
<% end %>
