
<p/>
<p><%= link_to('Load Curriculum', {:action => 'load_curr', :controller => 'loadcurr'}, class: 'btn btn-default') %></p>
<% if @curriculum.is_empty? %>
<h4>No items in Curriculum</h4>
<% else %>
<br/>
<hr/>
<% if @curriculum.curr_title.length == 0 %>
<h4>Current Curriculum [New*]</h4><br/>
<% else %>
  <h4>Current Curriculum [<%= @curriculum.curr_title%>] </h4><br/>
  <p><%= link_to('Save Curriculum', {:action => 'update_curr', :controller => 'savecurr'}, class: 'btn btn-default') %></p>
<% end %>

<%= link_to( 'Reload Curriculum', {:action => 'reload_curr', :controller => 'loadcurr'}, class: 'btn btn-default') %>
<%= link_to( 'Create PDF', {:action => 'create_pdf'}, class: 'btn btn-default') %>
<%= link_to( 'Clear this Curriculum', {:action => 'clear_curriculum', :confirm => 'Are you sure?', :method => :post}, class: 'btn btn-default')  %>
<%= link_to( 'Save as new Curriculum', {:action => 'save_curr', :controller => 'savecurr'}, class: 'btn btn-default') %>


<%= form_tag '/create_scope' do -%>
  <div style="margin-top: 20px"><%= text_field 'curriculum', 'cur_scope', size: 40 %>
  <%= submit_tag "Change Scope", class: 'btn btn-nomargin btn-default' %></div>
<% end -%>

<br/>
<hr/>


<%# Scope %>
<% if @curriculum.cur_scope %>
  <h4>Scope</h4> 
  <p><%=@curriculum.cur_scope %> |<%= link_to 'X', :action => 'remove_scope' %>| </p>
<% end %>
 
<%# identity %>
<% if @curriculum.cur_identity %>
  <h4>Identity</h4> 
  <p><%=@curriculum.cur_identity.info_compact %> |<%= link_to 'X', :action => 'remove_identity' %>| </p>
<% end %>

<%# picture %>
<% if @curriculum.curr_picture %>
  <h4>Foto</h4>
  <p><img src="<%= url_for(:controller => 'identpictures',:action => "picture", :id => @curriculum.curr_picture.id) %>"/> 
   |<%= link_to 'X', :action => 'remove_picture' %>| </p>
<% end %>

<%# work experience %>
<% if @curriculum.cur_workexperience_list.size > 0 %>
  <h4>Work experience</h4>
  <%# debug(@curriculum.cur_workexperience_list) %>
  <% @curriculum.cur_workexperience_list.each do |item| %> 
    <%# debug(item) %>
    <p><%= item.info_compact %> |<%= link_to 'X', :action => 'remove_workexperience', :id => item.id  %>| </p>
  <% end %>
<% end %>

<%# education %>
<% if @curriculum.cur_education_list.size > 0 %>
  <h4>Education</h4>
  <% @curriculum.cur_education_list.each do |item| %> 
    <p><%= item.info_compact %> |<%= link_to 'X', :action => 'remove_education', :id => item.id  %>|</p>
  <% end %>
<% end %>

<%# language skill %>
<% if @curriculum.cur_lang_skills.size > 0 %>
  <h4>Languages</h4>
  <% @curriculum.cur_lang_skills.each do |item| %> 
    <p><%= item.info_compact %> |<%= link_to 'X', :action => 'remove_languageskill', :id => item.id  %>|</p>
  <% end %>
<% end %>

<%# computer skill %>
<% if @curriculum.cur_computer_skills.size > 0 %>
  <h4>Technology</h4>
  <% @curriculum.cur_computer_skills.each do |item| %> 
    <p><%= item.info_compact %> |<%= link_to 'X', :action => 'remove_computerskill', :id => item.id  %>|</p>
  <% end %>
<% end %>

<%# other skill %>
<% if @curriculum.cur_other_skills.size > 0 %>
  <h4>Other</h4>
  <% @curriculum.cur_other_skills.each do |item| %> 
  <%# debug(item) %>
    <p><%= item.info_compact %> |<%= link_to 'X', :action => 'remove_otherskill', :id => item.id  %>|</p>
  <% end %>
<% end %>

<%# misc stuff %>
<% if @curriculum.cur_miscstuff_list.size > 0 %>
  <h4>Misc Stuff</h4>
  <% @curriculum.cur_miscstuff_list.each do |item| %> 
  <%# debug(item) %>
    <p><%= item.info_compact %> |<%= link_to 'X', :action => 'remove_miscstuff', :id => item.id  %>|</p>
  <% end %>
<% end %>


<% end %>