
<% if @curriculum.curr_title.length == 0 %>
  <h4><%= I18n.t('Curriculum [New*]') %></h4><br/>
<% else %>
  <h4><%= I18n.t('Curriculum') %> [<%= @curriculum.curr_title%>] </h4><br/>
<% end %>

<%= link_to(I18n.t('Load'), {:action => 'load_curr', :controller => 'loadcurr'}, class: 'btn btn-default') %>
<% if @curriculum.curr_title.length != 0 %>
  <%= link_to(I18n.t('Save'), {:action => 'update_curr', :controller => 'savecurr'}, class: 'btn btn-default') %>
  <%= link_to( I18n.t('Reload'), {:action => 'reload_curr', :controller => 'loadcurr'}, class: 'btn btn-default') %>
  <%= link_to('delete_curr', method: :delete, class: 'btn btn-default', title: I18n.t('Delete question'),  aria:{label: I18n.t('Delete')}, data: { confirm: I18n.t('Are you sure?'), commit: I18n.t('Confirm'), cancel: I18n.t('Cancel')})  do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  <% end %>
<% end %>
<%= link_to(I18n.t('New'), {action: 'clear_curriculum', controller: 'curriculum'}, method: :update, class: 'btn btn-default',  title: I18n.t('New curriculum question'),  aria:{label: I18n.t('Delete')}, data: { confirm: I18n.t('Are you sure?'), commit: I18n.t('Confirm'), cancel: I18n.t('Cancel')}) %>
<%= link_to(I18n.t('Save as...'), {action: 'save_curr', controller: 'savecurr'}, class: 'btn btn-default') %>
<% if browser.ua =~ /Android|Mobile|webOS/%>
  <%= link_to(I18n.t('Create PDF'), {action: 'create_pdf', mobile: 1}, class: 'btn btn-default') %>
<% else %>
  <%= link_to(I18n.t('Create PDF'), {action: 'create_pdf'}, target: '_blank',  class: 'btn btn-default') %>
<% end %>
<br/>


<!-- Scope -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(edit_curr_scope_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4><%= I18n.t('Scope') %></h4> 
</div>
<% if @curriculum.cur_scope %>
  <p><%=@curriculum.cur_scope %> <%= link_to('remove_scope', class: 'btn btn-default', aria:{label: 'Remove'})  do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
  </p>
<% end %>
 
<!-- identity -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(identities_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4><%= I18n.t('Identity') %></h4> 
</div>
<% if @curriculum.cur_identity %>
  <div class='remove_item'>
    <%= link_to({controller: 'identities', action: 'edit', id: @curriculum.cur_identity.id}, class: 'btn btn-default', aria:{label: 'Edit'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
    <%= button_to('remove_identity', class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
    <%=@curriculum.cur_identity.info_compact %> 
  </div>
<% end %>

<!--picture -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(identpictures_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4><%= I18n.t('Foto') %></h4> 
</div>
<% if @curriculum.curr_picture %>
  <p><img src="<%= url_for(:controller => 'identpictures', :action => 'picture', :id => @curriculum.curr_picture.id) %>"/> 
   <%= link_to('remove_picture', class: 'btn btn-default', aria:{label: 'Remove'})  do  %> 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
   <% end %></p>
<% end %>

<!-- work experience -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(workexperiences_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4><%= I18n.t('Work experiences') %></h4> 
</div>
<% if @curriculum.cur_workexperience_list.size > 0 %>
  <%# debug(@curriculum.cur_workexperience_list) %>
  <% work_exp_list = @curriculum.cur_workexperience_list.sort{ |a,b|
        if b.is_date_to_now
          1
        else
          b.date_from <=> a.date_from
        end
   }
    work_exp_list.each do |item| %> 
    <div class='remove_item'>
      <%= link_to({:controller => 'workexperiences', :action => 'edit', :id => item.id}, class: 'btn btn-default', aria:{label: 'Edit'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>
      <%= button_to({:controller => 'curriculum', :action => 'remove_workexperience', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- education -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(educations_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4><%= I18n.t('Education') %></h4> 
</div>
<% if @curriculum.cur_education_list.size > 0 %>
  <% edu_list = @curriculum.cur_education_list.sort{|a,b| (b.date_from <=> a.date_from)}
    edu_list.each do |item| %> 
    <div class='remove_item'>
      <%= link_to({:controller => 'educations', :action => 'edit', :id => item.id}, class: 'btn btn-default', aria:{label: 'Edit'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>
      <%= button_to({:controller => 'curriculum', :action => 'remove_education', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- language skill -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(languageskills_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4><%= I18n.t('Languages') %></h4> 
</div>
<% if @curriculum.cur_lang_skills.size > 0 %>
  <% @curriculum.cur_lang_skills.each do |item| %> 
    <div class='remove_item'>
      <%= link_to({:controller => 'languageskills', :action => 'edit', :id => item.id}, class: 'btn btn-default', aria:{label: 'Edit'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>
      <%= button_to({:controller => 'curriculum', :action => 'remove_languageskill', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- computer skill -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(computerskills_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4><%= I18n.t('Technologies') %></h4> 
</div>
<% if @curriculum.get_cur_computer_skills.size > 0 %>
  <% @curriculum.get_cur_computer_skills.each do |item| %> 
    <div class='remove_item'>
      <%= link_to({:controller => 'computerskills', :action => 'edit', :id => item.id}, class: 'btn btn-default', aria:{label: 'Edit'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>
      <%= button_to({:controller => 'curriculum', :action => 'remove_computerskill', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- misc stuff -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(miscstuffs_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4><%= I18n.t('Miscellaneous') %></h4> 
</div>
<% if @curriculum.cur_miscstuff_list.size > 0 %>
  <% @curriculum.cur_miscstuff_list.each do |item| %> 
  <%# debug(item) %>
    <div class='remove_item'>
      <%= link_to({:controller => 'miscstuffs', :action => 'edit', :id => item.id}, class: 'btn btn-default', aria:{label: 'Edit'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>
      <%= button_to({:controller => 'curriculum', :action => 'remove_miscstuff', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- other skill -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(otherskills_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4><%= I18n.t('Hobbies and interests') %></h4> 
</div>
<% if @curriculum.cur_other_skills.size > 0 %>
  <% @curriculum.cur_other_skills.each do |item| %> 
  <%# debug(item) %>
    <div class='remove_item'>
      <%= link_to({:controller => 'otherskills', :action => 'edit', :id => item.id}, class: 'btn btn-default', aria:{label: 'Edit'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      <% end %>
      <%= button_to({:controller => 'curriculum', :action => 'remove_otherskill', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>