
<!-- Curriculum view -->
<p><%= link_to('Load', {:action => 'load_curr', :controller => 'loadcurr'}, class: 'btn btn-default') %></p>

<br/>
<hr/>
<% if @curriculum.curr_title.length == 0 %>
<h4>Current Curriculum [New*]</h4><br/>
<% else %>
  <h4>Curriculum [<%= @curriculum.curr_title%>] </h4><br/>
  <%= link_to('Save', {:action => 'update_curr', :controller => 'savecurr'}, class: 'btn btn-default') %>
  <%= link_to( 'Reload', {:action => 'reload_curr', :controller => 'loadcurr'}, class: 'btn btn-default') %>
  <%= link_to('delete_curr', method: :delete, class: 'btn btn-default', title: 'Delete question',  aria:{label: 'Delete'}, data: { confirm: 'Are you sure?'})  do %>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
  <% end %>
<% end %>

<%= link_to( 'New', {:action => 'clear_curriculum', :controller => 'curriculum'}, method: :update, title: 'New curriculum question', class: 'btn btn-default', data: { confirm: 'Are you sure?'})  %>
<%= link_to( 'Save as...', {:action => 'save_curr', :controller => 'savecurr'}, class: 'btn btn-default') %>
<%= link_to( 'Create PDF', {:action => 'create_pdf'}, class: 'btn btn-default') %>

<br/>


<!-- Scope -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to('edit_curr_scope', class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4>Scope</h4> 
</div>
<% if @curriculum.cur_scope %>
  <p><%=@curriculum.cur_scope %> <%= link_to('remove_scope', class: 'btn btn-default', aria:{label: 'Remove'})  do %>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
  </p>
<% end %>
 
<!-- identity -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(identities_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4>Identity</h4> 
</div>
<% if @curriculum.cur_identity %>
  <p><%=@curriculum.cur_identity.info_compact %> 
  <%= link_to('remove_identity', class: 'btn btn-default', aria:{label: 'Remove'})  do  %> 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <% end %></p>
<% end %>

<!--picture -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(identpictures_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4>Foto</h4> 
</div>
<% if @curriculum.curr_picture %>
  <p><img src="<%= url_for(:controller => 'identpictures', :action => 'picture', :id => @curriculum.curr_picture.id) %>"/> 
   <%= link_to('remove_picture', class: 'btn btn-default', aria:{label: 'Remove'})  do  %> 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
   <% end %></p>
<% end %>

<!-- work experience -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(workexperiences_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4>Work experiences</h4> 
</div>
<% if @curriculum.cur_workexperience_list.size > 0 %>
  <%# debug(@curriculum.cur_workexperience_list) %>
  <% @curriculum.cur_workexperience_list.each do |item| %> 
    <div class='remove_item'>
    <%= button_to({:controller => 'curriculum', :action => 'remove_workexperience', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- education -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(educations_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4>Education</h4> 
</div>
<% if @curriculum.cur_education_list.size > 0 %>
  <% @curriculum.cur_education_list.each do |item| %> 
    <div class='remove_item'>
    <%= button_to({:controller => 'curriculum', :action => 'remove_education', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- language skill -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(languageskills_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4>Languages</h4> 
</div>
<% if @curriculum.cur_lang_skills.size > 0 %>
  <% @curriculum.cur_lang_skills.each do |item| %> 
    <div class='remove_item'>
    <%= button_to({:controller => 'curriculum', :action => 'remove_languageskill', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- computer skill -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(computerskills_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4>Technologies</h4> 
</div>
<% if @curriculum.cur_computer_skills.size > 0 %>
  <% @curriculum.cur_computer_skills.each do |item| %> 
    <div class='remove_item'>
    <%= button_to({:controller => 'curriculum', :action => 'remove_computerskill', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- misc stuff -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(miscstuffs_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4>Miscellaneous</h4> 
</div>
<% if @curriculum.cur_miscstuff_list.size > 0 %>
  <% @curriculum.cur_miscstuff_list.each do |item| %> 
  <%# debug(item) %>
    <div class='remove_item'>
    <%= button_to({:controller => 'curriculum', :action => 'remove_miscstuff', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>

<!-- other skill -->
<hr/>
<div>
  <div class="edit_title">
    <%= link_to(otherskills_path, class: 'btn btn-default', aria:{label: 'Edit'})  do  %> 
       <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </div>
  <h4>Hobbies and interests</h4> 
</div>
<% if @curriculum.cur_other_skills.size > 0 %>
  <% @curriculum.cur_other_skills.each do |item| %> 
  <%# debug(item) %>
    <div class='remove_item'>
    <%= button_to({:controller => 'curriculum', :action => 'remove_otherskill', :id => item.id}, class: 'btn btn-default', aria:{label: 'Remove'}, style: "float: right;")  do  %> 
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
    <%= item.info_compact %> 
    </div>
  <% end %>
<% end %>