<%= form_for(@destcurr, html:{multipart: true}) do |f| %>
  <% if @destcurr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destcurr.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @destcurr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--[form:destcurr]-->
<p><label for="destcurr_inserat">Job description</label><br/>
<%= text_area 'destcurr', 'inserat', size:"50x10"  %></p>

<p><label for="destcurr_pdf_jobinsertion">Job insertion Pdf</label><br/>
<%= file_field('destcurr', "destcurr_pdf_jobinsertion") %>

<p><label for="destcurr_contact_email">Contact email</label><br/>
<%= text_field 'destcurr', 'contact_email'  %></p>

<p><label for="destcurr_contact_web">Contact web</label><br/>
<%= text_field 'destcurr', 'contact_web'  %></p>

<p><label for="destcurr_contact_person">Contact person</label><br/>
<%= text_field 'destcurr', 'contact_person'  %></p>

<p><label for="destcurr_contact_company">Contact company</label><br/>
<%= text_field 'destcurr', 'contact_company', size:40  %></p>

<p><label for="destcurr_contact_note">Contact note</label><br/>
<%= text_area 'destcurr', 'contact_note', size: "50x10"  %></p>

<p><label for="destcurr_contact_ams">Contact from AMS ?</label><br/>
<select id="destcurr_contact_ams" name="destcurr[contact_ams]"><option value="false">False</option><option value="true">True</option></select></p>

<p><label for="destcurr_curr_sent_at">Curriculum sent at</label><br/>
<%= date_select 'destcurr', 'curr_sent_at', include_blank: true  %></p>

<p><label for="destcurr_colloquio_at">Meeting</label><br/>
<%= date_select 'destcurr', 'colloquio_at', include_blank: true  %></p>

<p><label for="destcurr_email_motivaz">Email motivation</label><br/>
<%= text_area 'destcurr', 'email_motivaz', size:"50x15"  %></p>

<p><label for="destcurr_note">Note</label><br/>
<%= text_area 'destcurr', 'note', size:"60x25"  %></p>

<p><label for="destcurr_risultato">Result</label><br/>
<%= text_field 'destcurr', 'risultato'  %></p>

<p><label for="destcurr_kcurr_saved">Curriculum</label><br/>
<%= collection_select(:destcurr, :kcurr_saved, @filecurrsaveds, :id, :curr_title)%>
</p>
<!--[eoform:destcurr]-->

<div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>


