<%= form_for(@destcurr, html:{multipart: true}) do |f| %>
  <% if @destcurr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@destcurr.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @destcurr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--[form:destcurr]-->
<p><label for="destcurr_job_descr"><%= I18n.t('Job description') %></label><br/>
<%= text_area 'destcurr', 'job_descr', size:"50x10"  %></p>

<% if @destcurr.inserat_filename %>
  <p><label for="inserat_filename"><%= I18n.t('Insertion filename') %></label>
  <div><%= @destcurr.inserat_filename %></div></p>
<% end %>
<p><label for="destcurr_pdf_jobinsertion"><%= I18n.t('Job insertion Pdf') %></label><br/>
<%= file_field('destcurr', "destcurr_pdf_jobinsertion") %></p>

<p><label for="destcurr_contact_email"><%= I18n.t('Contact email') %></label><br/>
<%= text_field 'destcurr', 'contact_email'  %></p>

<p><label for="destcurr_contact_web"><%= I18n.t('Contact web') %></label><br/>
<%= text_field 'destcurr', 'contact_web'  %></p>

<p><label for="destcurr_contact_person"><%= I18n.t('Contact person') %></label><br/>
<%= text_field 'destcurr', 'contact_person'  %></p>

<p><label for="destcurr_contact_company"><%= I18n.t('Contact company') %></label><br/>
<%= text_field 'destcurr', 'contact_company', size:40  %></p>

<p><label for="destcurr_contact_note"><%= I18n.t('Contact note') %></label><br/>
<%= text_area 'destcurr', 'contact_note', size: "50x10"  %></p>

<p><label for="destcurr_contact_ams"><%= I18n.t('Contact from AMS ?') %></label><br/>
<select id="destcurr_contact_ams" name="destcurr[contact_ams]"><option value="false">False</option><option value="true">True</option></select></p>

<p><label for="destcurr_curr_sent_at"><%= I18n.t('Curriculum sent at') %></label><br/>
<%= date_select 'destcurr', 'curr_sent_at', include_blank: true  %></p>

<p><label for="destcurr_colloquio_at"><%= I18n.t('Meeting') %></label><br/>
<%= date_select 'destcurr', 'colloquio_at', include_blank: true  %></p>

<p><label for="destcurr_email_motivaz"><%= I18n.t('Email motivation') %></label><br/>
<%= text_area 'destcurr', 'email_motivaz', size:"50x15"  %></p>

<p><label for="destcurr_note"><%= I18n.t('Note') %></label><br/>
<%= text_area 'destcurr', 'note', size:"60x25"  %></p>

<p><label for="destcurr_risultato"><%= I18n.t('Result') %></label><br/>
<%= text_field 'destcurr', 'risultato'  %></p>

<% if @destcurr.pdf_cv_filename %>
  <p><label for="pdf_cv_filename"><%= I18n.t('Curriculum filename') %></label>
  <div><%= @destcurr.pdf_cv_filename %></div></p>
<% end %>

<p><label for="destcurr_pdf_cv"><%= I18n.t('Curriculum Pdf') %></label><br/>
<%= file_field('destcurr', "destcurr_pdf_cv") %></p>

<!--[eoform:destcurr]-->

<div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
</div>

<% end %>


