<%= form_for(@workexperience) do |f| %>
  <% if @workexperience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workexperience.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @workexperience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--[form:workexperience]-->
<p><label for="workexperience_from">From</label><br/>
<%= date_select 'workexperience', 'date_from', :start_year => 1971  %></p>

<p><label for="workexperience_to">To</label><br/>
<%= date_select 'workexperience', 'date_to', :start_year => 1971  %></p>

<p><label for="workexperience_position">Position</label><br/>
<%= text_field 'workexperience', 'position'  %></p>

<p><label for="workexperience_activities">Activities</label><br/>
<%= text_area 'workexperience', 'activities'  %></p>

<p><label for="workexperience_employer">Employer</label><br/>
<%= text_area 'workexperience', 'employer'  %></p>

<p><label for="workexperience_sector">Sector</label><br/>
<%= text_field 'workexperience', 'sector'  %></p>

<p><label for="workexperience_tag">Tag</label><br/>
<%= text_field 'workexperience', 'tag'  %></p>

<p><label for="workexperience_klang">Locale</label><br/>
  <%= @workexperience.language.isoname %>
  <%= hidden_field :workexperience, :klang %>
</p>

 <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
 </div>

<% end %>

